{% extends 'base.html.twig' %}

{% block title %}{{ titulo }}{% endblock %}

{% block body %}
{% include '_inc/menu_admin.html.twig' %}
<main>
<div class="well col-md-8">

<div class="col-md-12 title-evento"><div class="group"><h4>{{ titulo }}</h4></div><p class="text-right"></p></div>

    {{ include('cliente/_form-steps.html.twig', {'button_label': 'Salvar'}) }}
</div>
</main>
{% endblock %}
